<template>
  <div class="overflow-auto">
    <div class="search-and-page-container">
      <div class="ml-1 mb-3 search-input-container">
        <b-input-group class="mt-3">
          <template #append>
            <b-input-group-text>
              <b-spinner v-if="isSearching" variant="primary" small></b-spinner>
              <b-icon-search
                v-else
                class="text-primary"
                @click="handlePressEnterSearch"
              />
            </b-input-group-text>
          </template>
          <b-form-input
            class="search-input"
            placeholder="Search Books By ISBN or Title"
            v-model="searchText"
            @keyup="handlePressEnterSearch"
          ></b-form-input>
        </b-input-group>
      </div>
      <b-pagination
        class="mt-3"
        v-model="currentPage"
        :total-rows="books.total"
        :per-page="limitPerPage"
        aria-controls="my-table"
        @change="handleChangeCurrentPage"
        pills
      ></b-pagination>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="25%">Title</th>
          <th scope="col" width="20%">Cover</th>
          <th scope="col" width="15%">ISBN</th>
          <th scope="col" width="40%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books.data" :key="book.isbn">
          <td>{{ book.title }}</td>
          <td>
            <img
              v-if="book.image"
              width="200"
              height="400"
              :src="`${getImageGalleryUrl()}/${book.image}`"
              alt=""
            />
          </td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import BooksService from "@/api-services/books.service";

const INIT_PAGE_SETTINGS = {
  page: 1,
  limitPerPage: 10,
};

export default {
  name: "BookList",

  data() {
    return {
      books: {
        data: [],
        total: 0,
      },
      currentPage: INIT_PAGE_SETTINGS.page,
      limitPerPage: INIT_PAGE_SETTINGS.limitPerPage,

      searchText: "",
      isSearching: false,
    };
  },

  mounted() {
    this.getBooks();
  },

  methods: {
    getImageGalleryUrl() {
      return `${process.env.VUE_APP_API_BASE}/storage`;
    },

    initPageSetting(
      page = INIT_PAGE_SETTINGS.page,
      limitPerPage = INIT_PAGE_SETTINGS.limitPerPage
    ) {
      this.currentPage = page;
      this.limitPerPage = limitPerPage;
    },

    handlePressEnterSearch(event) {
      if (event.keyCode === 13) {
        this.getBooks({
          search: this.searchText,
          page: INIT_PAGE_SETTINGS.page,
          limit: INIT_PAGE_SETTINGS.limitPerPage,
        });

        this.currentPage = INIT_PAGE_SETTINGS.page;
        this.limitPerPage = INIT_PAGE_SETTINGS.limitPerPage;
      }
    },

    handleChangeCurrentPage(newPage) {
      this.getBooks({
        page: newPage,
      });
    },

    getBooks(conditions) {
      let initData = {
        page: this.currentPage,
        limit: this.limitPerPage,
        search: this.searchText,
      };

      const data = {
        ...initData,
        ...conditions,
      };

      this.isSearching = true;

      BooksService.getBooks(data).then(
        (res) => {
          this.books = res.data.books;

          this.isSearching = false;
        },
        (res) => {
          console.log(res);

          this.isSearching = false;
        }
      );
    },
  },
};
</script>

<style scoped>
.search-and-page-container {
  display: flex;
  justify-content: space-between;
}

.search-input-container {
  width: 300px;
}

.search-input {
  font-size: 14px;
}

.table {
  border: 1px solid lightgrey;
}
</style>
