<template>
  <div class="container">
    <h1 class="mb-5">Book Library</h1>
    <b-form-file
      class="w-50"
      v-model="xmlFile"
      :state="Boolean(xmlFile)"
      placeholder="Choose an XML file or drop it here..."
      drop-placeholder="Drop file here..."
      accept=".xml"
    ></b-form-file>
    <br />
    <b-button
      class="w-50 mt-3"
      @click="handleClickUpload()"
      :disabled="!Boolean(xmlFile) || isUploading"
    >
      <b-spinner v-if="isUploading" color="primary" small />
      <span v-else>Upload To Server</span>
    </b-button>

    <BookList class="mt-5"></BookList>
  </div>
</template>

<script>
import BooksService from "@/api-services/books.service";
import BookList from "@/components/BookList";

export default {
  name: "Main",

  components: { BookList },

  data() {
    return {
      xmlFile: null,
      isUploading: false,
    };
  },

  mounted() {},

  methods: {
    handleClickUpload() {
      if (this.xmlFile) {
        if(this.xmlFile.size > 128 * 1024 * 1024) {
          alert("Sorry, the maximum size of available upload is 128MB.");

          this.xmlFile = null;

          return;
        }
        this.isUploading = true;

        BooksService.uploadBooksXmlFile(this.xmlFile).then(
          () => {
            this.isUploading = false;

            alert("Successfully uploaded");
          },
          () => {
            this.isUploading = false;

            alert("Sorry, you might be trying to upload enormous size of data");
          }
        );
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
